{% extends "layout.twig" %}

{% block head %}
	<title>
		Detail
	</title>
{% endblock %}


{# {% block connected %}
<p>Ici ya du contenu qui peut bouger</p>
{% endblock %} #}
{% block content %}
	<img src="https://picsum.photos/200/200"></img>

<h1>
	{{p.ProductName}}
</h1>
<h2>
	Id:
	{{p.ProductId}}
	Category:
	{{p.Category}}
</h2>
<h2>
	Price :
	{{p.Price}}
	$
	<br><br>
	Description:</h2>
<p>{{p.Description}}</p>
<div id="product-container"></div>{% endblock %}{# <!DOCTYPE html>
		<html lang="en">
			<head>
				<meta charset="UTF-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>Document</title>
			</head>
			<body>
				<div>
					{{data.title}}
					<p>Juibo ?{{data.juibo}}</p>
				</div>
			</body>
		</html> #}
